@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {

  --color-light-grayish-green: #87a7a4;
  --color-light-gray: #d9e2f1;
  --color-dark-cyan: #05827e;
  --color-electric-cyan: #16f3eb;
  --color-light-cyan-100: #88dbd6;
  --color-light-cyan-200: #87f0e9;
  --color-dull-light-cyan: #96d8d6;
  --color-grayish-cyan-100: #b5dad7;
  --color-grayish-cyan-200: #9dc5c4;
  --color-grayish-cyan-300: #8eb6b3;
  --color-dark-grayish-cyan: #335453;
  --color-peach: #f3a6a6;
  --color-shade-white: #d9f7f6;
  --color-shade-black-100: #0e1a1c;
  --color-shade-black-200: #051a19;

  --text-sm: 0.8rem;
  --text-base: 1rem;
  --text-md: 1.2rem;
  --text-lg: 1.5rem;
  --text-xl: 3rem;

  --font-Quicksand: 'Quicksand', sans-serif;
  --font-Lato: 'Lato', sans-serif;
}

/*CSS Reset*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#222c31, #111d32);
  color: #d9e2f1;
  line-height: 1.5;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}